* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

:root {
  --color-primary: #ce3029;
  --color-secondary: #8e0000;
  --color-grey-1: #474747;
  --color-grey-2: #ffffff;
  --color-grey-3: #000000;
  --text-color-1: #c7c7c7cc;
}

body {
  font-family: "Iceland", sans-serif;
  width: 100vw;
  height: 100vh;
}
