body {
  background-color: rgb(155, 155, 233);
}

h1 {
  color: #ffffff;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 60px;
}

.list {
  list-style: none;
  height: 400px;
  width: 90vw;
  margin-top: 100px;
  padding-left: 0;
  box-sizing: border-box;
  border: 2px solid red;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.list li {
  font-weight: bold;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: #ffffff;
}
